<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Default HTML Page</h1>
    <h2>Current request.path {{ request.path }}</h2>
    {% if user.is_authenticated %}
        <p>Authenticated as</p>
        <h4>
            Name: {{user.get_full_name}}
            Email: {{user.email}}
            Id: {{user.id}}
        </h4>
        <p>You can <a href="{% url 'logout' %}?next={% url 'authz:open' %}">Logout</a></p>
    {% else %}
        <p>You can <a href="{% url 'login' %}?next={% request.path %}">Login</a></p>
    {% endif %}
</body>
</html>