<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Index HTML Page</h1>
    <p>Current request.path: {{ request.path }}<p>

    {% if user.is_authenticated %}
        <p>Authenticated as</p>
        <h4>
            Name: {{user.get_full_name}} <br>
            Email: {{user.email}} <br>
            Id: {{user.id}} <br>
        </h4>
        <p>You can <a href="{% url 'logout' %}?next={% url 'polls:index' %}">Logout</a></p>
    {% else %}
        <p>You can <a href="{% url 'login' %}?next= {{ request.path }}">Login</a></p>
    {% endif %}
</body>
</html>