<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please 
                login with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this site</p>
        {% endif %}
    {% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    


</form>
</body>
</html>